<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="../public/logo.svg">
    <title>Odin Inventory</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="/logo.svg" alt="logo">
                <h1>Odin Inventory</h1>
            </a>
        </div>
        <nav class="links-container">
            <a href="/"><img src="/home.svg" alt="home" style="opacity: 50%" draggable="false"></a>
            <a href="/categories"><img src="/categories.svg" alt="categories" style="opacity: 50%" draggable="false"></a>
            <a href="/games"><img src="/items.svg" alt="items" style="opacity: 100%" draggable="false"></a>
            <a href="/add"><img src="/add.svg" alt="add" style="opacity: 50%" draggable="false"></a>
        </nav>
    </header>
    <div class="game-full" id="<%= game[0].game_id %>">
        <img src="<%= game[0].imgref %>" alt="game photo" class="full-photo">
        <p class="full-title"><%= game[0].title %></p>
        <p class="full-year">
            <% if (game.year !== 0) { %>
            <%= game[0].year %>
            <% } %>
        </p>
        <p class="full-desc"><%= game[0].game_description %></p>
        <p class="full-dev"><%= game[0].name %></p>
        <p class="full-genre"><%= game[0].genre %></p>
    </div>
</body>
</html>