<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="../public/logo.svg">
    <title>Odin Inventory</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="/logo.svg" alt="logo">
                <h1>Odin Inventory</h1>
            </a>
        </div>
        <nav class="links-container">
            <% if(/\bgames\b/.test(curr)) {%>
                <a href="/"><img src="/home.svg" alt="home" style="opacity: 50%" draggable="false"></a>
                <a href="/categories"><img src="/categories.svg" alt="categories" style="opacity: 50%" draggable="false"></a>
                <a href="/games"><img src="/items.svg" alt="items" style="opacity: 100%" draggable="false"></a>
                <a href="/add"><img src="/add.svg" alt="add" style="opacity: 50%" draggable="false"></a>
            <% } else { %>
                <a href="/"><img src="/home.svg" alt="home" style="opacity: 50%" draggable="false"></a>
                <a href="/categories"><img src="/categories.svg" alt="categories" style="opacity: 100%" draggable="false"></a>
                <a href="/games"><img src="/items.svg" alt="items" style="opacity: 50%" draggable="false"></a>
                <a href="/add"><img src="/add.svg" alt="add" style="opacity: 50%" draggable="false"></a>
            <% } %>
        </nav>
    </header>
    <div class="main-section-update">
        <form action="<%= curr %>" method="POST" enctype="multipart/form-data">
            <fieldset class="update-form">
                <legend>Update</legend>
                <label for="title">Game Title</label>
                <input type="text" name="title" value="<%= game[0].title %>" required>
                <label for="year">Year Released</label>
                <input type="number" min="1900" max="2099" step="1" name="year" value="<%= game[0].year %>">
                <label for="game_desc">Game Description</label>
                <textarea name="game_desc"><%= game[0].game_description %></textarea>
                <label for="developer">Game Developer</label>
                <input type="text" name="developer" value="<%= game[0].name %>" required />
                <label for="genre">Game Genre</label>
                <input type="text" name="genre" value="<%= game[0].genre %>" required />
                <label for="img">New Game Cover</label>
                <input class="file-submit" type="file" name="img" accept="image/*">
                <div class="update-buttons">
                    <button type="submit">Update</button>
                    <a href="/">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>