<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/x-icon" href="../public/logo.svg">
        <title>Odin Msg Brd</title>
    </head>
    <body>
        <header>
            <a href="<%= links[1].href %>" class="logo-container">
                <img src="/logo.svg" alt="logo">
                <h1><%= title %></h1>
            </a>
            <a href="<%= links[1].href %>" class="home-container">
                <img src="/home.svg" alt="home image">
            </a>
        </header>
        <div class="full-message" id=<%=message.id%>>
            <div class="message-full">
                <p class="message-text"><%= message.message%></p>
                <p class="message-info"><span class="message-user"><%= message.name%></span> | <%= message.added%></p>
            </div>
        </div>
    </body>
</html>